@{
	ViewData["Title"] = "Каталог";
}

<div class="album py-5 bg-light">
	<div class="row">
		<div class="col-md-2">
		</div>

		<div class="col-md-10">
			<div class="row">
				@foreach (var item in Model.AllItems)
				{
					<partial name="FoodItemLayout" model="item" />
				}
			</div>
		</div>
	</div>

</div>
